<div id="firearmDiv">
    <img src="../../../assets/{{firearm.id}}.jpg" style="height: vmax;">
    <p>Id: {{firearm.id}}</p>
    <p>name: {{firearm.name}}</p>
    <p>caliber id: {{firearm.caliberId}}</p>
    <p>Manufacturer id: {{firearm.manufacturerId}}</p>
    <p>action type id: {{firearm.actionTypeId}}</p>
    <p>firearm type id: {{firearm.firearmTypeId}}</p>
    <p>production date: {{firearm.productionDate}}</p>
    <p>serial number: {{firearm.serialNumber}}</p>
    <p>description: {{firearm.description}}</p>
    <p>donated by: {{firearm.donatedBy}}</p>
</div>