<div class="infoCard">
    <div class="information">
        <img [class]="containerPicker" src="../../../assets/{{hydratedFirearm.manufacturer.manufacturer}}/{{gunName}}.jpg">
        <div class="infoContainer">
            <span>{{hydratedFirearm.manufacturer.manufacturer}} {{hydratedFirearm.name}}<br>
            {{hydratedFirearm.caliber.caliberSize}} {{hydratedFirearm.caliber.caliberUnit}} 
            {{hydratedFirearm.actionType.actionType}} {{hydratedFirearm.firearmType.firearmType}}<br>
            Manufactured in {{hydratedFirearm.productionDate}}
            </span>
        </div>  
    </div>
    <div class="description">
        <span style="display: inline-block;">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad nobis facilis, ab ut dolorem sapiente vitae, accusamus ex, necessitatibus quidem exercitationem tempora ipsa in dolor recusandae nihil ullam blanditiis harum?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam adipisci ipsam iste deserunt, amet labore voluptates ducimus fugit enim atque animi quod recusandae odit error beatae possimus officia. Placeat, vero!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. A voluptatum temporibus repellendus facere molestiae, quasi repellat nesciunt in natus exercitationem cumque eius eveniet fugiat omnis! Sequi voluptatibus tenetur voluptate omnis?
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero, nemo saepe. Non voluptatem hic magnam quasi porro laborum vel illo, minus, soluta id vero esse eligendi. Vero dolor exercitationem adipisci.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad nobis facilis, ab ut dolorem sapiente vitae, accusamus ex, necessitatibus quidem exercitationem tempora ipsa in dolor recusandae nihil ullam blanditiis harum?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam adipisci ipsam iste deserunt, amet labore voluptates ducimus fugit enim atque animi quod recusandae odit error beatae possimus officia. Placeat, vero!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. A voluptatum temporibus repellendus facere molestiae, quasi repellat nesciunt in natus exercitationem cumque eius eveniet fugiat omnis! Sequi voluptatibus tenetur voluptate omnis?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. A voluptatum temporibus repellendus facere molestiae, quasi repellat nesciunt in natus exercitationem cumque eius eveniet fugiat omnis! Sequi voluptatibus tenetur voluptate omnis?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. A voluptatum temporibus repellendus facere molestiae, quasi repellat nesciunt in natus exercitationem cumque eius eveniet fugiat omnis! Sequi voluptatibus tenetur voluptate omnis?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. A voluptatum temporibus repellendus facere molestiae, quasi repellat nesciunt in natus exercitationem cumque eius eveniet fugiat omnis! Sequi voluptatibus tenetur voluptate omnis?
        </span>
    </div>
</div>

<!-- firearmId : number;
    name : string;
    caliber : Caliber;
    manufacturer : Manufacturer;
    actionType : ActionType;
    firearmType : FirearmType;
    productionDate? : number;
    serialNumber? : number;
    description? :  string;
    donatedBy? : string; -->
