<div class="infoCard">
    <div class="imgContainer"style="display: inline-block;" >
        <img src="../../../assets/1.jpg">
    </div>
    <div style="display: inline-block;" >
        <p>Id: {{hydratedFirearm.firearmId}}</p>
        <p>name: {{hydratedFirearm.name}}</p>
        <p>caliber: {{hydratedFirearm.caliber.caliberSize}} {{hydratedFirearm.caliber.caliberUnit}}</p>
        <p>Manufacturer: {{hydratedFirearm.manufacturer.manufacturer}}</p>
        <p>action: {{hydratedFirearm.actionType.actionType}}</p>
        <p>firearm class: {{hydratedFirearm.firearmType.firearmType}}</p>
        <p>production year: {{hydratedFirearm.productionDate}}</p>
        <p>serial number: {{hydratedFirearm.serialNumber}}</p>
        <p>description: {{hydratedFirearm.description}}</p>
        <p>donated by: {{hydratedFirearm.donatedBy}}</p>
    </div>
</div>

<!-- firearmId : number;
    name : string;
    caliber : Caliber;
    manufacturer : Manufacturer;
    actionType : ActionType;
    firearmType : FirearmType;
    productionDate? : number;
    serialNumber? : number;
    description? :  string;
    donatedBy? : string; -->
