<div class="infoCard">
    <div class="information">
        <img class="picContainer" src="../../../assets/{{name}}/logo.jpg">
        <div class="infoContainer">
            <span>{{manufacturer.manufacturer}}
            </span>
        </div>  
    </div>
    <div class="description">
        <span style="display: inline-block;">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad nobis facilis, ab ut dolorem sapiente vitae, accusamus ex, necessitatibus quidem exercitationem tempora ipsa in dolor recusandae nihil ullam blanditiis harum?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam adipisci ipsam iste deserunt, amet labore voluptates ducimus fugit enim atque animi quod recusandae odit error beatae possimus officia. Placeat, vero!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. A voluptatum temporibus repellendus facere molestiae, quasi repellat nesciunt in natus exercitationem cumque eius eveniet fugiat omnis! Sequi voluptatibus tenetur voluptate omnis?
        </span>
    </div>
</div>