<div class="infoCard">
    <div class="information">
        <img class="picContainer" [src]="manufacturer.manufacturerUrl">
        <input *ngIf="!editing" type="text" [(ngModel)]="manufacturer.manufacturerUrl" [value]="manufacturer.manufacturerUrl">
        
        <div class="infoContainer">
            <textarea *ngIf="editing" [readonly]="editing" [(ngModel)]="manufacturer.manufacturer" style="display: inline; background-color: inherit; border-width: 0px; resize: none; text-align: center;" rows="1" cols="53">{{manufacturer.manufacturer}}</textarea>
            <textarea *ngIf="!editing" [readonly]="editing" [(ngModel)]="manufacturer.manufacturer" style="display: inline; background-color: rgba(255, 255, 255, 0.342); border-width: 0px; resize: none; text-align: center; width: 50px;" value="manufacturer.manufacturer"></textarea>
        </div>  
    </div>
    <div class="description">
        <textarea *ngIf="editing" [readonly]="editing" [(ngModel)]="manufacturer.manufacturerDescription" style="display: block; background-color: inherit; border-width: 0px; resize: none;" rows="25" cols="100"></textarea>
        <textarea *ngIf="!editing" [readonly]="editing" [(ngModel)]="manufacturer.manufacturerDescription"  style="background-color: rgba(255, 255, 255, 0.342);" rows="25" cols="100"></textarea>
        <!-- <textarea *ngIf="!editing" [readonly]="editing" [(ngModel)]="hydratedFirearm.description"           style="background-color: rgba(255, 255, 255, 0.342);" rows="25" cols="100"></textarea> -->
    </div>

    <img *ngIf="!editing" (click)="editManufacturer()" class="submitButton" src="../../../assets/confirm.png">
    <img *ngIf="!editing" (click)="removeManufacturer()" class="deleteButton" src="../../../assets/delete.png">
    <img *ngIf="editing" (click)="toggleEdit()" class="editButton" src="../../../assets/edit.png">
    <img *ngIf="!editing" (click)="onCancel()" class="cancelButton" src="../../../assets/cancel.png">
</div>