<div class="infoCard">
    <div class="information">
        <img class="picContainer" [src]="imgSrc">        
        <input #actionTypeUrl [(ngModel)]="imgSrc" type="text" placeholder="image url">

        <div class="infoContainer">
            <input #nameId type="text" placeholder="action name">
            <img (click)="addActionType(nameId.value,descriptionId.value,actionTypeUrl.value)" class="submitButton" src="../../../assets/confirm.png">
            <img class="cancelButton" routerLink="/actiontype" src="../../../assets/cancel.png">
        </div>  
    </div>
    <div class="description">
        <textarea id="inputDescription" style="background-color: rgba(255, 255, 255, 0.342);" #descriptionId placeholder="description" rows="25" cols="100"></textarea>
    </div>
</div>