<div class="infoCard">
    <div class="information">
        <img class="picContainer" [src]="imgSrc">        
        <input #caliberUrl [(ngModel)]="imgSrc" type="text" placeholder="image url">

        <div class="infoContainer">
            <input #sizeId type="text" placeholder="size">
            <input #unitId type="text" placeholder="units / name">
            <img (click)="addCaliber(sizeId.value,unitId.value,descriptionId.value,caliberUrl.value)" class="submitButton" src="../../../assets/confirm.png">
            <img class="cancelButton" routerLink="/caliber" src="../../../assets/cancel.png">
        </div>  
    </div>
    <div class="description">
        <textarea style="background-color: rgba(255, 255, 255, 0.342);" rows="25" cols="100" #descriptionId placeholder="description"></textarea>
    </div>
</div>