<div class="infoCard">
    <div class="information">
        <div class="infoContainer">
            <input #sizeId type="text" placeholder="size">
            <input #unitId type="text" placeholder="units">
            <button (click)="addCaliber(sizeId.value,unitId.value,descriptionId.value)" style="position: absolute; left: 0; bottom: 0;"  routerLink="/caliber">Submit</button>
            <button style="position: absolute; right: 0; bottom: 0;"  routerLink="/caliber">Cancel</button>
        </div>  
    </div>
    <div class="description">
        <textarea style="background-color: white;" rows="10" cols="100" #descriptionId placeholder="description"></textarea>
    </div>
</div>