<span>name</span>
<input type="text" [(ngModel)]="name">
<span>caliberId</span>
<input type="text" [(ngModel)]="caliberId">
<span>manufactureId</span>
<input type="text" [(ngModel)]="manufactureId">
<span>actionTypeId</span>
<input type="text" [(ngModel)]="actionTypeId">
<span>firearmTypeId</span>
<input type="text" [(ngModel)]="firearmTypeId">
<span>productionDate</span>
<input type="text" [(ngModel)]="productionDate">
<span>serialNumber</span>
<input type="text" [(ngModel)]="serialNumber">
<span>description</span>
<input type="text" [(ngModel)]="description">
<span>donatedBy</span>
<input type="text" [(ngModel)]="donatedBy">
<button (click)="addFirearm()">submit</button>