<div class="infoCard">
    <div class="information">
        <img class="picContainer" src="../../../assets/Calibers/{{name}}.jpg">
        <div class="infoContainer">
            <textarea [readonly]="editing" [(ngModel)]="caliber.caliberSize" style="display: inline; background-color: peru; border-width: 0px; resize: none; text-align: right;" rows="1" cols="5">{{caliber.caliberSize}}</textarea>
            <textarea [readonly]="editing" [(ngModel)]="caliber.caliberUnit" style="display: inline; background-color: peru; border-width: 0px; resize: none; text-align: left;" rows="1" cols="20">{{caliber.caliberUnit}}</textarea>
        </div>  
    </div>
    <div class="description">
        <textarea [readonly]="editing" [(ngModel)]="caliber.caliberDescription" style="display: block; background-color: peru; border-width: 0px; resize: none;" rows="10" cols="100">
        </textarea>
    </div>
    <button *ngIf="!editing" style="position: absolute; bottom: 0; left: 0; background-color: green;" (click)="editCaliber()">submit</button>
    <button *ngIf="!editing" style="position: absolute; bottom: 0; right: 0; background-color: red;" (click)="removeCaliber()">Delete</button>
    <button *ngIf="editing" style="position: absolute; bottom: 0; left: 0; background-color: yellow;" (click)="toggleEdit()">edit</button>
</div>