<body>
    <div class="banner">
        <a [routerLink]="['/hydratedfirearm']" ><div class ="routing">firearms</div> </a> 
        <a [routerLink]="['/caliber']" ><div class ="routing">calibers</div></a>
        <a [routerLink]="['/actiontype']" ><div class ="routing">actions</div></a>
        <a [routerLink]="['/manufacturer']" ><div class ="routing">manufacturers</div></a>

        <a>
            <div class ="routing">
                <div class="dropdown">
                    contribute
                    <div class="dropdown-content">
                    </div>
                  </div>
            </div>
        </a>
    </div>
    <div class="landingPage">
        <h1>Museum application</h1>
    </div>
</body>